
<div class="container col-4 offset-4 mt-5">
  <h1>THE OFFICES</h1>
</div>
<div class="office-index-container row mx-5">
  <div class="cards_display col-8 ">
    <% @offices.each do |office| %>
      <%= render "office_card", office: office %>
    <% end %>
  </div>
  <div id="map"
     class="col-4"
     style="width: px; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
