
<div class="banner-host" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/NoRsyXmHGpI);">
  <div class="container my-text">

    <h3>Share your office
    <p class="pb-3">Earn extra income and unlock new opportunities<br>by sharing your space.</p>

    <%= link_to "Share your office now", offices_path, class: "btn btn-light my-boutton py-3 px-5" %>
    
  </div>
</div>