  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/UO02gAW3c0c/800x600)">
  Paris
  </div>

  <%= link_to offices_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/BWmtnSBbBuk/800x600)">
    Lisbon
    </div>
  <% end %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/gP2PNn1fCiU/800x600)">
  Amsterdam
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/EXdXLrZXS9Q/800x600)">
  London
  </div>




