<h1>Hello <%#= user.name %></h1>

<div>
  <h1>Your bookings</h1>
  <% @bookings.each do |booking| %>
    <%= render "shared/booking_card", booking: booking %>
  <% end %>

</div>

<div>
  <h1>Your rents</h1>
</div>

