
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/wawEfYdpkag);">
  <div class="container">
    <h1>Find a great place for your next team meeting <br>
    with <strong>Flex Office</strong></h1>
    <p>Change your life and book an office around the world.</p>
    <%= link_to "Book an office now", offices_path, class: "btn btn-warning" %>
  </div>
</div>

<div class="city mx-4 pt-4">
  <h3>Choose your city</h3>
  <div class="cards pt-3 pb-3">
    <%= render 'shared/card' %>
  </div>
</div>

