
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/wawEfYdpkag);">
  <div class="container">
    <h1>Find a great place for your next team meeting <br>
    with <strong>Flex Office</strong></h1>
    <p>Change your life and book an office around the world.</p>

    <%= link_to "Book an office now", offices_path, class: "btn btn-warning" %>

    <div class="search-bar mt-4 ">
      <%= simple_form_for :search, url: offices_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Find a city" />
          <button name="button" type="submit" class="btn btn-success">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="city mx-4 pt-4">
  <h3>Choose your city</h3>
  <div class="cards pt-3 pb-3">
    <%= render 'shared/card' %>
  </div>
</div>

<div class="host-banner mx-4 pt-4">
  <%= render 'shared/banner_host' %>
</div>

