


.card-trip .card-trip-infos {
  padding: 16px;
  position: relative;
}

.card-trip-infos .card-trip-validate {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  opacity: 1;
}

.card-trip-infos .card-trip-decline {
  position: absolute;
  right: 36px;
  top: -10px;
  width: 40px;
}

.validate {
  font-size: 30px;
  top: -17px;
  right: 54px;
  position: absolute;
  color: white;
  background-color: green;
  border-radius: 50%;
  &:hover {
    color: green;
    background-color: white;
  }
}

.decline {
  font-size: 30px;
  top: -17px;
  right: 10px;
  position: absolute;
  color: white;
  background-color: red;
  border-radius: 50%;
  &:hover {
    color: red;
    background-color: white;
  }
}

.status-label {
  background-color: white;
  font-size: 10px !important;
  line-height: 12px !important;
  border-radius: 4px !important;
  display: inline-block !important;
  font-weight: 800 !important;
  padding: 4px 6px !important;
  text-transform: uppercase !important;
  position: absolute;
  top: 10px;
  right: 16px;
}
